<ion-view view-title="Menu bebidas">
  <ion-content class="padding">
    <ion-list>
      
      
      
       <div class="list card">
      <div class="item item-divider">Bebidas disponibles</div>
        <div class="item item-body">
        <div>
          <table border="1" style="width:100%">
          <tr>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Precio</td>
          </tr>
          
          <tr>
            <td>---------------</td>
            <td>---------------</td>
            <td>---------------</td>
          </tr>
          
          
          <tr>
            <td>CocaCola</td>
            <td>Cocacola normal</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Pepsi</td>
            <td>Normal</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Sprite</td>
            <td>Bebida sabor limon</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Fanta</td>
            <td>Bebida sabor naranja</td>
            <td>$9</td>
          </tr>
          
           <tr>
            <td>Agua</td>
            <td>Natural</td>
            <td>$5</td>
          </tr>
          
          <tr>
            <td>Limonada</td>
            <td>de limon</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Joya</td>
            <td>Manzana, piña</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Big Cola</td>
            <td>Sabor big cola</td>
            <td>$10</td>
          </tr>
          
          <tr>
            <td>Jugito</td>
            <td>Variedad</td>
            <td>$7</td>
          </tr>
          
          
          </table>
    
   </div>
     </div> 
      </div>
      
    </ion-list>
  </ion-content>
</ion-view>
