<ion-view view-title="Menu postres">
  <ion-content class="padding">
   <div class="list card">
      <div class="item item-divider">Postres disponibles</div>
        <div class="item item-body">
        <div>
          <table border="1" style="width:100%">
          <tr>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Precio</td>
          </tr>
          
          <tr>
            <td>---------------</td>
            <td>---------------</td>
            <td>---------------</td>
          </tr>
          
          
          <tr>
            <td>Nieve en vaso</td>
            <td>Chocolate, vainilla o fresa</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Cono</td>
            <td>Chocolate, vainilla o fresa</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Pastelito</td>
            <td>Chocolate</td>
            <td>$6</td>
          </tr>
          
          <tr>
            <td>Cono gigante</td>
            <td>Chocolate, vainilla o fresa</td>
            <td>$20</td>
          </tr>
          
           <tr>
            <td>Galleta</td>
            <td>Chispas de chocolate</td>
            <td>$5</td>
          </tr>
          
          <tr>
            <td>Chetos</td>
            <td>Azules, amarillos, verdes, naranjas, morados</td>
            <td>$10</td>
          </tr>
          
          <tr>
            <td>Tostitos</td>
            <td>Verdes, amarillos, rojos</td>
            <td>$15</td>
          </tr>
          
          <tr>
            <td>Tostadas</td>
            <td>Salsa, queso y chile</td>
            <td>$10</td>
          </tr>
          
          <tr>
            <td>Pan dulce</td>
            <td>Variedad</td>
            <td>$10</td>
          </tr>
          
          
          </table>
        </div>
   
   </div>
   
   
   
   </div>
  </ion-content>
</ion-view>
