<ion-view view-title="Menu desayunos">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Alimentos disponibles</div>
      <div class="item item-body">
        <div>
          <table border="1" style="width:100%">
          <tr>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Precio</td>
          </tr>
          
          <tr>
            <td>---------------</td>
            <td>---------------</td>
            <td>---------------</td>
          </tr>
          
          
          <tr>
            <td>Tacos bistec</td>
            <td>Maiz o harina</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Tacos barbacoa</td>
            <td>Maiz o harina</td>
            <td>$9</td>
          </tr>
          
          <tr>
            <td>Tacos de trompo</td>
            <td>Maiz</td>
            <td>$6</td>
          </tr>
          
          <tr>
            <td>Pirata</td>
            <td>Harina</td>
            <td>$20</td>
          </tr>
          
           <tr>
            <td>Gringa</td>
            <td>Harina</td>
            <td>$15</td>
          </tr>
          
          <tr>
            <td>Tortas</td>
            <td>Torta de bistec</td>
            <td>$10</td>
          </tr>
          
          <tr>
            <td>Hamburguesas</td>
            <td>Sencilla con queso</td>
            <td>$15</td>
          </tr>
          
          <tr>
            <td>Tostadas</td>
            <td>Tostada con carne</td>
            <td>$5</td>
          </tr>
          
          <tr>
            <td>3 tacos al vapor</td>
            <td>Frijoles o deshebrada</td>
            <td>$10</td>
          </tr>
          
          
          </table>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
